<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<form action="/auth/reset-password" method="post">
    <label for="email">Email:</label>
    <input type="hidden" id="email" name="email" th:value="${email}">

    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Reset Password</button>
</form>
</body>
</html>